.register-dialog
{
	border: 3px solid black;
	margin: auto;
	text-align: center;
	width: 60%;
	display: block;
}

.register-text-input
{
	font-size: 16pt;
	padding: 12px 20px;
	border-radius: 5%;
	border: 3px solid lightgray;
}

.create-account-form
{
	text-align: left;
	margin: auto;
}

.measurement-switch-div
{
	padding: 5%;
}

.form-div
{
	text-align: left;
	margin: auto;
}

.form-label
{
	font-size: 16pt;
	padding: 2px 5px;
}
