.alert-box
{
	display: block;
	  width: 60%;
	  margin: auto;
	  text-align: center;
	  padding: 1.5%;
	  border: 3px solid black;
	  border-radius: 10%;
	  margin: 0;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  -ms-transform: translate(-50%, -50%);
	  transform: translate(-50%, -50%);
	  background-color: white;
}

.question
{
    text-align: center;
	font-family: "Courier New", Courier, monospace;
	margin: auto;
}