.forgotpwpage-fluid
{
	background: url("./img/spoons.jpg") no-repeat center fixed;
	background-size: cover;
	min-height: 100vh;
	height: 100%;
	width: 100vw;
}

.forgot-password-dialog
{
	width: 40%;
	margin: auto;
	border: 3px solid black;
	padding : 5%;
	background-color: white;
	margin: 0;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}

.dialog-header
{
	font-family: "Courier New", Courier, monospace;
}

.dialog-header-div
{
	text-align: center;
}

.submit-div
{
	text-align: center;
}

.message-div
{
	text-align: center;
	padding: 2%;
}

.link-div
{
	text-align: center;
	font-family: "Courier New", Courier, monospace;
}
