.error-message
{
	font-size: 14pt;
	color: red;
}

.loginDiv-fluid
{
	background: url("./img/shelves.jpg") no-repeat center fixed;
	background-size: cover;
	min-height: 100vh;
	height: 100%;
	width: 100vw;
}

.login-dialog
{
	display: block;
	width: 40%;
	margin: auto;
	text-align: center;
	padding: 3%;
	border: 3px solid black;
	border-radius: 10%;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: white;
}

.login-text-input
{
	font-size: 16pt;
	width: 60%;
	padding: 12px 20px;
	border-radius: 5%;
	border: 3px solid lightgray;
	font-family: "Courier New", Courier, monospace;
}

.login-text-input:focus
{
	border: 3px solid skyblue;
	size: 10% 2%;
}

.register-text-input
{
	font-size: 16pt;
	font-family: "Courier New", Courier, monospace;
	padding: 12px 30px;
	border-radius: 0%;
	width: 90%;
	text-align: center;
	margin: 0px auto;
	border: 1px solid gray;
}

.login-button
{
	border-radius: 40px;
	font-size: 16pt;
	padding: 2% 5%;
}

.forgotPwLink
{
	font-family: "Courier New", Courier, monospace;
}

.registerLink
{
	font-family: "Courier New", Courier, monospace;
}

.dialog-header
{
	font-weight: bold;
}
