.recipe-card
{
	min-width: 20%;
	max-width: 30%;
	border: 3px solid black;
}

.card-title
{
	font-size: 16pt;
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
}

.view-button
{
	font-family: "Courier New", Courier, monospace;
	background-color: crimson;
}
