/* 
	This file mostly contains global styles to enforce uniformity among certain
	elements.
*/

body
{
	/* background-image: url("img/background.jpg"); */
}

.page-container
{
	display: block;
	margin: auto;
	width: 50%;
}

.dialog-container-div
{
	border: 2px solid black;
	text-align: center;
	padding: 5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.createRecipe{
  margin-left: 16%;
  margin-right: 16%;
  background-color: white;
}

.pages{
  background: url("cuttingboard.jpg") no-repeat center fixed;
  background-size: cover;
  min-height: 100vh;
  height: 100%;
}
